@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
.font-poppins{
   font-family: 'Poppins', sans-serif !important;
}
.hero{
   filter: drop-shadow(20px 15px 10px rgb(168, 168, 168)) !important;
   animation: rotateycoffee 4s linear infinite !important;
}
.h100vh{
   height: 100vh !important;
}
@keyframes rotateycoffee {
   0% {
      transform: translatey(-10px) rotate(10deg);
      }
   50%{
      transform: translateY(10px) rotate(10deg);
   }
   100%{
      transform: translateY(-10px) rotate(10deg);
   }
}

.image{
   height: 310px;
}
@media (min-width: 768px) {
   .image{
      height: 500px;
   }
}
@media (min-width:992px){
   .image{
      height: 600px;
   }
}
.bg-coffee{
   background: url(/public/image/bg.JPEG); 
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
swiper-container{
   width: 100%;
}
swiper-slide{
   background-position: center;
   background-size: cover;
}
swiper-slide img{
   display: block;
   width: 100%;
}

.google{
   text-decoration: none;
   color: gray ;
   border-bottom: 1px solid rgb(106, 101, 101);
}
